html {
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f7ede2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div {
    background-color: #f6bd60;
    margin: 5rem;
    padding: 2rem;
    color: #11203f;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px 5px #f7e3c3;
}
span {
    margin: 0.5rem;
    font-weight: lighter;
}